@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.work {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 50px 0 30px;
  position: relative;
  width: 100%;

  @include lg-max {
    padding: 100px 0;
    display: block;
  }

  .pageBg {
    position: fixed;
    top: 50%;
    right: -50px;
    transform: translateY(-50%) rotate(170deg);
    width: 1000px;
    z-index: 1;
    opacity: .5;

    :global {
      svg {
        fill: lighten($mirage, 4%);
      }
    }

    @include lg-max {
      right: auto;
      top: -500px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      width: 200%;

      :global {
        svg {
          fill: lighten($mirage, 4%);
        }
      }
    }
  }

  .pageHeading {
    position: fixed;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    width: 35%;
    z-index: 2;

    @include lg-max {
      margin-bottom: 50px;
      position: relative;
      top: 0;
      left: 0;
      transform: translateY(0);
      width: 100%;
    }

    .pageTitle {
      color: $white;
      font-family: $title;
      font-size: 95px;
      line-height: 1;
      margin: 0;

      @include lg-max {
        font-size: 65px;
      }
    }

    .subtitle {
      color: $white;
      font-family: $title;
      font-size: 18px;
      font-weight: $light;
      line-height: 32px;
    }

    .actions {
      margin-top: 30px;

      @include lg-max {
        display: none;
      }

      @include sm-max {
        width: 100%;

        :global {
          a {
            width: 100%;
          }
        }
      }
    }
  }

  >.actions {
    display: none;
    margin-top: 30px;

    @include lg-max {
      display: block;
    }

    @include sm-max {
      width: 100%;

      :global {
        a {
          width: 100%;
        }
      }
    }
  }

  .workList {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 50%;
    z-index: 5;

    @include lg-max {
      gap: 35px;
      margin: 0 -35px 0 0;
      width: 100%;
    }

    li {
      border-radius: 15px;
      width: 100%;

      @include lg-max {
        width: calc(50% - 35px);
      }
    }

    @include md-max {
      flex-direction: column;
      margin: 0;

      li {
        width: 100%;

        &:nth-child(odd) {
          position: relative;
          top: 0;
        }
      }
    }

    @include sm-max {
      margin-bottom: 0;
    }
  }
}