@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.button {
  border: 1.5px solid inherit;
  border-radius: 50px;
  display: inline-block;
  font-family: $title;
  font-size: 18px;
  line-height: 18px;
  font-weight: $bold;
  position: relative;
  padding: 15px 35px;
  text-align: center;
  transition: .25s ease;

  &:hover,
  &:focus {
    cursor: pointer;
    transform: scale(1.1);

    @include sm-max {
      transform: scale(1);
    }
  }
}

.primary {
  border: 1.5px solid $aquamarine;
  background: rgba($aquamarine, .2);
  box-shadow: 0px 0px 8px 4px rgba($aquamarine, 0);
  backdrop-filter: blur(5px);
  color: $aquamarine;

  &:hover,
  &:focus {
    box-shadow: 0px 0px 8px 4px rgba($aquamarine, 0.1);
  }

  @include sm-max {
    box-shadow: 0px 0px 8px 4px rgba($aquamarine, 0.1);
  }
}

.secondary {
  border: 1.5px solid $malibu;
  background: rgba($mirage, .3);
  box-shadow: 0px 0px 8px 4px rgba($malibu, 0);
  backdrop-filter: blur(5px);
  color: $malibu;

  &:hover,
  &:focus {
    box-shadow: 0px 0px 8px 4px rgba($malibu, 0.1);
  }

  @include sm-max {
    box-shadow: 0px 0px 8px 4px rgba($malibu, 0.1);
  }
}