@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.services {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 135px 0 100px;
  position: relative;
  width: 100%;

  &:after {
    background: rgba($spray, 0.2);
    content: "";
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    z-index: -1;
  }

  > .inner {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .heading {
    max-width: 700px;
    margin-bottom: 45px;
  }

  .title {
    -webkit-text-stroke: 2px $gulf;
    color: $gulf;
    font-family: $copy;
    font-size: 41px;
    font-weight: bold;
    line-height: 57px;
    margin: 0 0 20px;
  }

  .serviceList {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 35px;
    margin: 25px 0 0;
    padding: 0;
    width: 100%;

    .serviceListItem {
      // background: rgba($white, 0.6);
      background: #ffffff;
      // border: 1px solid rgba($gulf, 0.15);
      border-radius: 20px;
      flex: 1;
      position: relative;

      > .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 30px 30px 25px;
        width: 100%;
        height: 100%;
        text-align: center;
      }

      .cardTitle {
        color: $gulf;
        font-size: 25px;
        margin: 0 0 15px;
      }

      .details {
        list-style-type: none;
        color: $gulf;
        font-family: $copy;
        font-size: 15px;
        font-weight: 300;
        line-height: 27px;
        margin: 0;
        padding-left: 0;
        opacity: 0.75;

        li {
          display: inline-block;
        }
      }

      .actions {
        display: flex;
        margin-top: auto;
        padding-top: 25px;
        width: 100%;

        button {
          width: 100%;
        }
      }
    }
  }
}
