@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.services {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 50px 0;
  position: relative;
  width: 100%;

  &:after {
    background: $gulf;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 2px;
    z-index: -1;
  }

  > .inner {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }

  .heading {
    margin-bottom: 45px;
    width: 25%;
  }

  .serviceList {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 35px;
    margin: 15px 0 0;
    padding: 0 0 0 50px;
    width: 100%;

    .serviceListItem {
      flex: 1;
      position: relative;

      > .inner {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        height: 100%;
      }

      .cardTitle {
        color: $gulf;
        font-size: 25px;
        margin: 0 0 15px;
      }

      .details {
        list-style-type: none;
        margin: 0;
        padding-left: 0;

        li {
          display: inline-block;
        }
      }

      .actions {
        display: flex;
        margin-top: auto;
        padding-top: 25px;
        width: 100%;

        button {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-height: 790px) {
  .services {
    min-height: 0;
  }
}

@include lg-max {
  .services {
    .serviceList {
      flex-direction: column;

      .serviceListItem {
        background: #ffffff;
        flex: 1;
        position: relative;

        > .inner {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-direction: column;
          padding: 30px 30px 25px;
          width: 100%;
          height: 100%;
          text-align: left;
        }
      }
    }
  }
}

@include md-max {
  .services {
    .serviceList {
      flex-direction: column;
      .serviceListItem {
        > .inner {
          padding: 20px 20px 15px;
          text-align: left;
        }
      }
    }
  }
}

@include sm-max {
  .services {
    padding: 75px 0 100px;
  }
}
