@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 100px 0 75px;
  position: relative;
  width: 100%;

  .mainContent {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
      flex: 1;

      .tag {
        border-radius: 4px;
        color: $gulf;
        display: inline-block;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 25px;
        padding: 10px 12px 10px 0;
        position: relative;
      }

      h1 {
        -webkit-text-stroke: 2px $gulf;
        color: $gulf;
        font-family: $copy;
        font-size: 45px;
        font-weight: bold;
        line-height: 57px;
        margin: 0 0 20px;
      }

      .tagline {
        color: $gulf;
        font-family: $copy;
        font-size: 19px;
        font-weight: 300;
        line-height: 31px;
        margin: 0;
        max-width: 80%;
        opacity: 0.75;
      }

      .actions {
        margin: 45px 0 0;
      }
    }
  }

  .hero {
    border-radius: 30px;
    flex: 1;
    overflow: hidden;
    position: relative;

    img {
      margin-bottom: -5px;
    }
  }

  .bio {
    margin: 50px 0 150px;
    padding-top: 75px;
    width: 100%;

    > .inner {
      background: rgba($spray, 0.2);
      border-radius: 30px;
      display: flex;
      gap: 30px;
      padding: 45px;
      position: relative;
    }

    .imageWrapper {
      position: relative;
      min-width: 40%;

      .image {
        border-radius: 20px;
        flex: 1;
        overflow: hidden;
        position: absolute;
        aspect-ratio: 1/1.2;
        min-width: 100%;

        img {
          object-fit: cover;
        }
      }
    }

    .funFact {
      background: $spray;
      border-radius: 20px;
      color: $gulf;
      display: flex;
      gap: 30px;
      margin-right: 75px;
      margin-left: -75px;
      padding: 30px;
      position: absolute;
      top: calc(100% + 20px);
    }
  }

  @include sm-max {
  }
}
