@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 50px 0 75px;
  position: relative;
  width: 100%;

  .mainContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    min-height: 100vh;
    position: relative;
    width: 100%;

    .content {
      max-width: 75%;
      text-align: center;

      .actions {
        margin: 45px 0 0;
      }
    }

    .logo {
      display: flex;
      justify-content: center;

      svg {
        width: 50%;
        height: auto;
      }
    }
  }

  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    .content {
      flex: 1;

      .actions {
        margin: 45px 0 0;
      }
    }
  }

  .hero {
    aspect-ratio: 1/1;
    overflow: hidden;
    position: relative;
    width: 45%;

    img {
      margin-bottom: -5px;
    }
  }

  .bio {
    margin: 25px 0 150px;
    padding-top: 75px;
    width: 100%;

    > .inner {
      background: rgba($spray, 0.2);
      display: flex;
      gap: 50px;
      padding: 35px;
      position: relative;
    }

    .imageWrapper {
      position: relative;
      min-width: 40%;

      .image {
        flex: 1;
        overflow: hidden;
        position: absolute;
        aspect-ratio: 1/1;
        min-width: 100%;

        img {
          object-fit: cover;
        }
      }
    }

    .funFact {
      background: $spray;
      color: $gulf;
      display: flex;
      gap: 30px;
      margin-right: 75px;
      margin-left: -75px;
      padding: 30px;
      position: absolute;
      top: calc(100% + 20px);
    }
  }
}

@include vp-max(1100) {
  .about {
    .mainContent {
      gap: 25px;

      .content {
        .tag {
          margin-bottom: 15px;
        }
      }
    }

    .hero {
      width: 35%;
    }
  }
}

@include md-max {
  .about {
    .mainContent {
      min-height: 0;
      padding-top: 100px;
      padding-bottom: 100px;
      align-items: flex-start;
      flex-direction: column-reverse;
      gap: 25px;

      .content {
        max-width: 100%;
        text-align: left;

        .tag {
          margin-bottom: 15px;
        }
      }

      .logo {
        display: none;
      }
    }

    .profile {
      flex-direction: column;
      align-items: flex-start;
    }

    .bio {
      margin: 40% 0 25px;
      padding-top: 50px;

      > .inner {
        flex-direction: column;
        padding: 25px;
      }

      .imageWrapper {
        position: relative;
        width: 50%;

        .image {
          flex: 1;
          overflow: hidden;
          position: absolute;
          bottom: -25px;
          aspect-ratio: 1/1;
          max-width: 75%;
        }
      }
    }

    .hero {
      width: 45%;
    }
  }
}

@include sm-max {
  .about {
    .mainContent {
      min-height: 0;
      padding-top: 100px;
      align-items: flex-start;
      flex-direction: column-reverse;
      gap: 25px;

      .content {
        .tagline {
          max-width: 100%;
        }
      }
    }

    .profile {
      padding-bottom: 50px;
    }

    .bio {
      margin: 70% 0 25px;
      padding-top: 50px;

      > .inner {
        flex-direction: column;
        padding: 25px;
      }

      .imageWrapper {
        position: relative;
        width: 100%;

        .image {
          flex: 1;
          overflow: hidden;
          position: absolute;
          bottom: -25px;
          aspect-ratio: 1/1;
          max-width: 75%;
        }
      }
    }

    .hero {
      margin-top: -50px;
      margin-left: -40px;
      margin-right: -40px;
      width: calc(100% + 80px);
    }
  }
}
