@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.intro {
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 25px;
  margin-top: 75px;
  padding: 75px 0 100px;
  position: relative;
  width: 100%;

  &:after {
    background: rgba($spray, 0.08);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    z-index: -1;
  }

  .image {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 55%;
    left: -15vw;
    transform: translateY(-50%) scaleX(-1);
    aspect-ratio: 1/1;
    width: 40vw;
  }

  .content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 35vw;

    .tag {
      border-radius: 4px;
      color: $gulf;
      display: inline-block;
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 25px;
      padding: 10px 12px 10px 0;
      position: relative;
    }

    .title {
      -webkit-text-stroke: 2px $gulf;
      color: $gulf;
      font-family: $copy;
      font-size: 41px;
      font-weight: bold;
      line-height: 57px;
      margin: 0 0 30px;
    }

    .tagline {
      color: $gulf;
      font-family: $copy;
      font-size: 19px;
      font-weight: 300;
      line-height: 31px;
      margin: 0;
      opacity: 0.75;
    }

    .actions {
      margin: 45px 0 0;
    }
  }
}

@include vp-max(1265) {
  .intro {
    .image {
      width: 45vw;
    }
  }
}

@include md-max {
  .intro {
    flex-direction: column-reverse;
    gap: 0;

    .image {
      margin-top: -50px;
      position: relative;
      top: 0;
      left: auto;
      right: -50px;
      transform: translateY(0) scaleX(1);
      width: 65vw;
    }

    .content {
      flex-direction: column;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;

      .title {
        font-size: 35px;
        line-height: 43px;
      }

      .tagline {
        font-size: 17px;
        line-height: 27px;
      }

      .actions {
        margin: 35px 0 0;
      }
    }
  }
}

@include sm-max {
  .intro {
    margin-top: -25px;
    padding: 75px 0 25px;

    .image {
      margin-top: 0;
      width: 85vw;
    }

    .content {
      .title {
        -webkit-text-stroke: 1.5px $gulf;
        font-size: 31px;
        line-height: 37px;
      }

      .tagline {
        font-size: 15px;
        line-height: 23px;
      }

      .actions {
        width: 100%;

        a {
          width: 100%;
        }
      }
    }
  }
}
