@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.intro {
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 25px;
  margin-top: 75px;
  padding: 75px 0 100px;
  position: relative;
  width: 100%;

  &:after {
    background: rgba($spray, 0.08);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    z-index: -1;
  }

  .bgImgs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;

    .leftImg {
      display: none;
      margin: 0;
      padding: 0;
      position: relative;
      width: 385px;
      height: 400px;
    }

    .rightImg {
      transform: scaleX(-1);
      margin: 0;
      padding: 0;
      position: relative;
      width: 550px;
      height: 550px;
    }
  }

  .content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
    max-width: 700px;
    padding-top: 50px;
    padding-bottom: 50px;

    .tag {
      border-radius: 4px;
      color: $gulf;
      display: inline-block;
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 25px;
      padding: 10px 12px 10px 0;
      position: relative;
    }

    .title {
      -webkit-text-stroke: 2px $gulf;
      color: $gulf;
      font-family: $copy;
      font-size: 41px;
      font-weight: bold;
      line-height: 57px;
      margin: 0 0 30px;
    }

    .tagline {
      color: $gulf;
      font-family: $copy;
      font-size: 19px;
      font-weight: 300;
      line-height: 31px;
      margin: 0;
      opacity: 0.75;
    }

    .actions {
      margin: 45px 0 0;
    }
  }
}
