@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.intro {
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 25px;
  margin-top: 0;
  padding: 75px 0 100px;
  position: relative;
  width: 100%;

  &:after {
    background: rgba($spray, 0.08);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    z-index: -1;
  }

  .image {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 55%;
    left: -15vw;
    transform: translateY(-50%) scaleX(-1);
    aspect-ratio: 1/1;
    width: 40vw;
  }

  .content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 35vw;

    .actions {
      margin: 45px 0 0;
    }
  }
}

@media screen and (min-height: 790px) {
  .intro {
    min-height: 0;
  }
}

@include vp-max(1265) {
  .intro {
    .image {
      width: 45vw;
    }
  }
}

@include md-max {
  .intro {
    flex-direction: column-reverse;
    gap: 0;

    .image {
      margin-top: -50px;
      position: relative;
      top: 0;
      left: auto;
      right: -50px;
      transform: translateY(0) scaleX(1);
      width: 65vw;
    }

    .content {
      flex-direction: column;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;

      .actions {
        margin: 35px 0 0;
      }
    }
  }
}

@include sm-max {
  .intro {
    margin-top: -25px;
    padding: 75px 0 25px;

    .image {
      margin-top: 0;
      width: 85vw;
    }

    .content {
      .actions {
        width: 100%;

        a {
          width: 100%;
        }
      }
    }
  }
}
