@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  position: relative;
  width: 100%;

  .hero {
    position: relative;
    bottom: -80px;
    flex: 1;

    svg {
      width: 150%;
      height: auto;
    }
  }

  .content {
    flex: 1;
    padding-top: 100px;

    .tag {
      border-radius: 4px;
      color: $gulf;
      display: inline-block;
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 25px;
      padding: 10px 12px 10px 0;
      position: relative;
    }

    h1 {
      -webkit-text-stroke: 2px $gulf;
      color: $gulf;
      font-family: $copy;
      font-size: 55px;
      font-weight: bold;
      line-height: 73px;
      margin: 0 0 20px;
    }

    .tagline {
      color: $gulf;
      font-family: $copy;
      font-size: 19px;
      font-weight: 300;
      line-height: 37px;
      margin: 0;
      max-width: 80%;
      opacity: 0.75;
    }

    .actions {
      margin: 45px 0 0;
    }
  }

  @include sm-max {
  }
}
