@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;

  .logo {
    position: relative;
    opacity: 0.15;
    margin-bottom: 50px;

    svg {
      width: 200px;
      height: auto;
      path {
        fill: $gulf;
      }
    }
  }

  h1 {
    -webkit-text-stroke: 2px $gulf;
    color: $gulf;
    font-size: 65px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 65px;
    margin: 0 0 25px;
  }

  h2 {
    color: $gulf;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 28px;
    margin: 0;
    opacity: 0.5;
  }

  @include sm-max {
    .logo {
      svg {
        width: 100px;
      }
    }

    h1 {
      -webkit-text-stroke: 1px $gulf;
      font-size: 45px;
      line-height: 45px;
      margin: 0 0 15px;
    }

    h2 {
      font-size: 20px;
      line-height: 20px;
    }
  }
}
