@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.hamburger {
  position: relative;
  display: block;
  right: 0;
  width: 75px;
  height: 29px;

  &:before {
    background: $gulf;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 38px;
    height: 5px;
    transform: rotate(0deg);
    transition: 0.25s ease;
    transform-origin: center right;
  }

  &:after {
    background: $gulf;
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 38px;
    height: 5px;
    transform: rotate(0deg);
    transition: 0.25s ease;
    transform-origin: center right;
  }

  > div {
    background: $gulf;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 38px;
    height: 5px;
    transform: translateY(-50%);
    transition: 0.25s ease;
  }

  &:hover,
  &:focus {
    cursor: pointer;
  }

  &.open {
    > div {
      width: 0;
    }

    &:before {
      content: "";
      display: block;
      opacity: 1;
      position: absolute;
      top: 0;
      right: 0;
      width: 34px;
      transform: rotate(-45deg);
      transition: 0.25s ease;
    }

    &:after {
      content: "";
      display: block;
      opacity: 1;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 34px;
      transform: rotate(45deg);
      transition: 0.25s ease;
    }
  }
}
