@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.header {
  padding: 0 30px;
  position: fixed;
  top: 30px;
  width: 100%;
  z-index: 99;

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .logo {
    transform: scale(1);
    transition: 0.25s ease;

    :global {
      svg {
        width: 40px;
        height: auto;
      }
    }

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }

  .menuToggle {
    position: relative;
    z-index: 15;
  }
}

@include md-max {
  .header {
    .cta {
      display: none;
    }

    .menuToggle {
      display: block;
    }
  }
}
