@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.header {
  padding: 0 50px;
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 99;

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  @include md-max {
    padding: 0 40px;
  }

  .logo {
    transform: scale(1);
    transition: 0.25s ease;

    :global {
      svg {
        width: 40px;
        height: auto;
      }
    }

    &:hover,
    &:focus {
      transform: scale(1.1);
    }

    @include lg-max {
      opacity: 0;
      visibility: hidden;
    }
  }

  .menuToggle {
    position: relative;
    z-index: 15;
  }
}
