@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.header {
  background: rgba($white, 0.85);
  backdrop-filter: blur(10px);
  padding: 15px 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .logo {
    transform: scale(1);
    transition: 0.25s ease;
    width: 40px;
    height: 47px;

    :global {
      svg {
        width: 40px;
        height: auto;
      }
    }

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }

  .menuToggle {
    display: none;
    position: relative;
    z-index: 15;
  }
}

@include md-max {
  .header {
    .cta {
      display: none;
    }

    .menuToggle {
      display: block;
    }
  }
}
