@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.wrapper {
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(#000000, 0.5);
  transform: rotate(-8deg);
  margin: 45px 0;
  transition: transform .5s ease;

  &:hover,
  &:focus {
    transform: rotate(6deg);
  }

  @include lg-max {
    transform: rotate(0deg);
    margin: 0;

    &:hover,
    &:focus {
      transform: rotate(0deg);
    }
  }
}

.workItem {
  border-radius: 15px;
  overflow: hidden;
  position: relative;

  &:after {
    // background: linear-gradient(to top, black, transparent);
    background: radial-gradient(circle at top center, transparent 30%, black);
    border-radius: 15px;
    content: '';
    display: block;
    opacity: 0.85;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 175%;
    height: 175%;
    z-index: 1;
    transition: .25s ease;
  }

  .content {
    color: $white;
    padding: 30px;
    position: absolute;
    bottom: 0;
    z-index: 2;

    h2 {
      color: $white;
      font-family: $title;
      font-size: 55px;
      line-height: 55px;
      margin: 0;
      position: relative;
      top: -30px;
    }

    .popUp {
      font-family: $copy;
      font-size: 22px;
      font-weight: 500;
      line-height: 36px;
      position: relative;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin: 25px -5px 0;

      span {
        background: rgba(black, 0.3);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border-radius: 100px;
        display: inline-block;
        font-size: 14px;
        padding: 8px 20px;
        transition: .35s ease-in-out;
      }

      @include sm-max {
        display: none;
      }
    }

    @include md-max {
      h2 {
        margin-bottom: 15px;
      }

      .popUp {
        max-height: none;
        opacity: 1;
      }

      .tags {
        span {
          background: rgba($malibu, 0.3);
        }
      }
    }
  }

  &:hover,
  &:focus {
    cursor: pointer;
  }
}