@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.ausEm {
  background: $white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: 100;
  overflow: hidden;

  .button {
    // background: $mirage;
    border: 1.5px solid $mirage;
    border-radius: 50px;
    color: $mirage;
    font-family: $copy;
    font-size: 18px;
    font-weight: $bold;
    margin: 0 0 50px;
    padding: 15px 35px;
    transition: 0.25s ease;

    &:hover {
      background: $mirage;
      color: $white;
      cursor: pointer;
    }
  }

  .wrapper {
    position: relative;
    display: flex;
    padding: 50px 10%;
    overflow: hidden;
  }

  .video {
    padding-left: 46.25%;
    position: fixed;
    top: 50px;
    right: 10px;
    width: 0;
    height: calc(100vh - 100px);
    opacity: 0;
    transition: 0.25s ease;

    &.vidPlaying {
      opacity: 1;
    }

    video {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  .content {
    position: relative;
    height: 100%;
    width: 100%;
    transition: 0.5s ease;

    &.isPLaying {
      width: 55%;
    }

    .inner {
      padding: 300px 0 150px;
      height: 100%;

      h1 {
        margin-bottom: 75px;
      }

      p {
        color: $mirage;
        line-height: 2.5;
        opacity: 0.5;
        padding: 20px 0;

        &.sign {
          display: block;
          padding-top: 35px;
        }
      }
    }

    .inner::-webkit-scrollbar {
      display: none;
    }
  }
}

@include lg-max {
  .ausEm {
    height: auto;
    position: absolute;

    .wrapper {
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      padding: 0;
      height: auto;
    }

    .video {
      padding-left: 46.25%;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 1;

      video {
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        width: 100%;
      }
    }

    .content {
      background: rgba($white, 0.75);
      margin: 65vh 0 100vh;
      height: auto;
      z-index: 2;
      width: 100%;

      &.isPLaying {
        width: 100%;
      }

      &:before,
      &:after {
        display: none;
      }

      .inner {
        padding: 10%;

        p {
          opacity: 1;
          font-size: 22px;
        }
      }

      .inner::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

@include md-max {
  .ausEm {
    .content {
      .inner {
        padding: 45px 100px;
      }

      .inner::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

@include sm-max {
  .ausEm {
    .content {
      .inner {
        padding: 45px 30px;
      }

      .inner::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
