@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Kanit:ital,wght@0,100;0,300;1,400&family=DM+Sans:wght@400;500;700&display=swap");

@import "./styles/variables.scss";
@import "./styles/breakpoints.scss";

html,
body {
  color: rgba(#2d2d2d, 0.5);
  font-family: $copy;
  font-size: 15px;
  line-height: 27px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;

  @include sm-max {
    font-size: 15px;
    line-height: 23px;
  }
}

html {
  background-color: $white;
}

.stars {
  background-image: url(https://res.cloudinary.com/austinmel/image/upload/v1656687100/stars_l8bdz6.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.quote {
  color: $malibu;
  display: block;
  font-family: $title;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 45px;
}

.container {
  margin: 0 auto;
  width: 83%;
  max-width: 1440px;
  padding: 0;

  @include lg-max {
    width: 100%;
    padding: 0 30px;
  }
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background: none;
  outline: none;
  border: none;
}

p {
  color: $malibu;
  font-family: $copy;
  font-size: 18px;
  line-height: 28px;
}

a {
  color: $aquamarine;
  font-weight: $bold;
  text-decoration: none;

  &.link {
    color: $white;

    &:hover,
    &:focus {
      color: $aquamarine;
    }
  }
}

* {
  box-sizing: border-box;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

h1,
h2,
h3 {
  color: $gulf;
  font-family: $title;
  font-weight: 500;
  margin: 0 0 25px;
}

h1 {
  font-size: 60px;
  line-height: 67px;

  @include sm-max {
    font-size: 37px;
    line-height: 43px;
  }
}

h2 {
  font-size: 41px;
  line-height: 55px;

  @include sm-max {
    font-size: 37px;
    line-height: 43px;
  }
}

.tag {
  border-radius: 4px;
  color: $gulf;
  display: inline-block;
  font-family: $title;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 16px;
  font-weight: 600;
  margin-bottom: 25px;
  opacity: 0.5;
  padding: 10px 12px 10px 0;
  position: relative;
  text-transform: uppercase;
}
